  .car-container {
    position: relative;
    display: inline-block;
  }
  
  .dot-button {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(217, 16, 16);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    border: 2px solid black; /* add border */
    color: black; /* set color of plus sign */
    font-size: 14px; /* change the size */
    display: flex; /* align in the middle */
    align-items: center;
    justify-content: center; /* align in the middle */
    top: 86%; /* change the position of the dot vertically */
    left: 50%; /* change the position of the dot horizontally */
  }

  .dot-button.dot1 {
  top: 30%; /* 调整这些值以定位到第一个点的位置 */
  left: 40%;
}

.dot-button.dot2 {
  top: 86%; /* 调整这些值以定位到第二个点的位置 */
  left: 50%;
}
  
  .description-box.dot1 {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    top: 28%; 
    left: 42%;
    z-index: 1;
  }
  .description-box.dot2 {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    top: 84%; 
    left: 52%;
    z-index: 1;
  }

  .car-container {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: center; 
  }
  
  .battery-image {
    margin-top: 20px; 
  }
  