@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: DhyanaRegular;
  src: url(./fonts/Dhyana-Regular.ttf);
}
@font-face {
  font-family: DhyanaBold;
  src: url(./fonts/Dhyana-Bold.ttf);
}
@font-face {
  font-family: DidactGothic;
  src: url(./fonts/DidactGothic-Regular.ttf);
}


h1 {
  font-size: 28px;
  font-family: DidactGothic;
}

h2 {
  font-size: 24px;
  font-family: DhyanaRegular;
}

h3 {
  font-size: 16px;
  font-family: DhyanaBold;
}

p {
  font-size: 16;
  font-family: DidactGothic;
}
